<mat-toolbar >
    
    <img src="assets/images/kanban3.png" width="50px" alt="KanBan"/>

  
  <span>KanBan Board</span>
  <span class="example-spacer"></span>
  <button (click)="addTask()" mat-mini-fab style="background-color: rgb(248, 174, 14);" aria-label="Example icon button with a plus one icon">
    <mat-icon >plus_one</mat-icon>
  </button> 
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon  [ngStyle]="{'color': mycolor}" (click)="changeColor()" >favorite</mat-icon>
  </button>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>