<mat-toolbar >
  <img src="assets/images/kanban3.png" width="50px" alt="KanBan"/>
  <span>KanBan Board</span>
  <span class="example-spacer"></span>

  <!-- Add task fab button -->
  <button  mat-raised-button class="addTask" (click)="addTask()" mat-mini-fab #tooltip="matTooltip"
  matTooltip="Click to add Task"
  [matTooltipPosition]="positionOptions[0]"
  matTooltipHideDelay="100">
    <mat-icon  [ngStyle]="{'color': 'black'}">add</mat-icon>
  </button> 

  <!-- Like fab button -->
  <button mat-icon-button class="example-icon favorite-icon">
    <mat-icon class="df"  [ngStyle]="{'color': mycolor}" (click)="changeColor()" >
      favorite
    </mat-icon>
  </button>

  <!-- Share fab button -->
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>
      share
    </mat-icon>
  </button>
</mat-toolbar>