.example-spacer {
    flex: 1 1 auto;
  }
.mat-toolbar {
    background: teal;
    color: #fff
 }
button:focus, button:active:focus, button.active:focus {
    outline: none !important;
    outline-style: none !important;
}
.addTask
{
  background-color: rgb(225, 248, 14);
  transition-duration: 1s;
}
.addTask:hover
{
  background-color: rgb(255, 255, 255);
  -webkit-transform: rotate(45deg);
}
