<div class="centerContent">

    <h1 mat-dialog-title>
        Please Add your Task
    </h1>
    <div mat-dialog-content class="centerContent">
        <mat-form-field >
            <mat-label>
                Task name
            </mat-label>
            <input matInput [(ngModel)]="task.name"  required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>
                Task Category
            </mat-label>
            <mat-select [(ngModel)]="task.type" required [disabled]="disableSelect">
                <mat-option *ngFor="let type of types;let i=index" [value]="i+1">
                    {{type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button 
            [disabled]="task.name.trim()=='' || task.type==''" 
            mat-raised-button 
            [mat-dialog-close]="task" 
            color="accent">
            {{buttonName}}
        </button>
        <button 
            *ngIf="editingTodo"
            mat-raised-button 
            [mat-dialog-close]="{name:'',type:''}" 
            color="warn">
            Delete
        </button>
    </div>
</div>

